# ===============================
# PostgreSQL
# ===============================
POSTGRES_DB=your_database
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=

#====================================
# MariaDB
# ===================================
MARIADB_DATABASE=your_database

MARIADB_USER=your_user

MARIADB_PASSWORD=your_password

MARIADB_ROOT_PASSWORD=your_root_password

#====================================
# Wordpress
# ===================================
WORDPRESS_DB_HOST=mariadb

WORDPRESS_DB_NAME=${MARIADB_DATABASE}

WORDPRESS_DB_USER=${MARIADB_USER}

WORDPRESS_DB_PASSWORD=${MARIADB_PASSWORD}


# ===============================
# FastAPI
# ===============================
API_PORT=

# ===============================
# Pressbooks
# ===============================
PRESSBOOKS_PORT=

# ===============================
# API Externa
# ===============================
GITHUB_TOKEN=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=