# ===============================
# PostgreSQL
# ===============================
POSTGRES_DB=your_database
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433

# ===============================
# MariaDB
# ===============================
MARIADB_DATABASE=your_database
MARIADB_USER=your_user
MARIADB_PASSWORD=your_password
MARIADB_ROOT_PASSWORD=your_root_password

# ===============================
# WordPress
# ===============================
WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_NAME=your_database
WORDPRESS_DB_USER=your_user
WORDPRESS_DB_PASSWORD=your_password

# ===============================
# FastAPI
# ===============================
API_PORT=8000

# ===============================
# Pressbooks / WordPress
# ===============================
PRESSBOOKS_PORT=8080

# ===============================
# API externa
# ===============================
GITHUB_TOKEN=your_github_token
