# ===============================
# PostgreSQL
# ===============================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# ===============================
# FastAPI
# ===============================
API_PORT=

# ===============================
# Pressbooks
# ===============================
PRESSBOOKS_PORT=

# ===============================
# API Externa
# ===============================
GITHUB_TOKEN=